<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="home_work" frontName="home-work">
            <module name="GorbanSv_CustomModule" />
        </route>
    </router>
</config>