<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GorbanSv_AskQuestion::customer_questions_menu"
             title="Customer Questions"
             module="GorbanSv_AskQuestion"
             sortOrder="9999"
             parent="Magento_Backend::content_elements"
             action="customer_questions"
             resource="Magento_Backend::content" />
    </menu>
</config>