<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="GorbanSv_AskQuestion::customer_questions_menu" title="Customer Questions" translate="title" sortOrder="50" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>